#AuthType Basic
#AuthName "Login Required"
#AuthUserFile "/home/vol7_3/infinityfree.com/if0_39866097/htdocs/.htpasswd"
#Require valid-user

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect everything public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

